html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-image: linear-gradient(
      to top,
      #ffbf86,
      #ffc38d,
      #ffc693,
      #feca9a,
      #fecda1,
      #f8d1a4,
      #f3d5a9,
      #eed9ae,
      #e3ddb4,
      #d9e1bd,
      #d2e3c7,
      #cee5d0
    );
  }
  h1 {
    font-family: "Cabin Sketch";
    color: white;
    text-shadow: 1px 1px 0 #90AACB, -1px 1px 0 #90AACB, 1px -1px 0 #90AACB,
      -1px -1px 0 #90AACB, 0px 1px 0 #90AACB, 0px -1px 0 #90AACB,
      -1px 0px 0 #90AACB, 1px 0px 0 #90AACB, 2px 2px 0 #90AACB, -2px 2px 0 #90AACB,
      2px -2px 0 #90AACB, -2px -2px 0 #90AACB, 0px 2px 0 #90AACB,
      0px -2px 0 #90AACB, -2px 0px 0 #90AACB, 2px 0px 0 #90AACB, 1px 2px 0 #90AACB,
      -1px 2px 0 #90AACB, 1px -2px 0 #90AACB, -1px -2px 0 #90AACB,
      2px 1px 0 #90AACB, -2px 1px 0 #90AACB, 2px -1px 0 #90AACB,
      -2px -1px 0 #90AACB;
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    margin-top: 0px;
  }
  .wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
  }
  .wrapper section .item {
    padding: 0 2px;
    transition: 200ms all;
  }
  .wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
  }
  .wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
  }
  .wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, white 500%);
  }
  .wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 500%);
  }
  @media only screen and (max-width: 600px) {
    a.arrow__btn {
      display: none;
    }
  }
  
  img {
    width: 341px;
    aspect-ratio: auto 341 / 192;
    height: 192px;
  }
  