{% load static %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">
<body>
    <ul>
        <li><a href="{% url 'blog:index' %}">Home</a></li>
        <li><a href="#mylist">MyList</a></li>
        <li><a href="#title">Anime</a></li>

        <li style="float:right"><a class="active" href="#about">AboutUs</a></li>
        <li style="float:right">
            <form action="{% url 'blog:search' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find your fav anime here..." name="keyword">
                    <span>
                        <input class="active" type="submit" value="Search">
                      </span>
                </div>
            </form>
        </li>
    </ul>

</body>

{% block content %} {% endblock %}