{% extends "blog/base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anicheck</title>
    <link rel="stylesheet" href="{% static 'blog/transit_image.css' %}" />
    <link
    href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Codystar&family=Comfortaa&family=Cutive+Mono&family=Dokdo&family=Finger+Paint&family=Indie+Flower&family=Lexend+Mega&family=Londrina+Outline&family=Luckiest+Guy&family=Press+Start+2P&family=Reenie+Beanie&family=Short+Stack&family=Yomogi&display=swap"
    rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="arrow l" onclick="prev()">
        <img
          src="https://www.img.in.th/images/b13e1d7ae603eb3320c10a11e0c74f91.png"
          alt="l"
        />
      </div>
      <div class="slide slide-1">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">One Piece</h3>
        </div>
      </div>
      <div class="slide slide-2">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">7 Deadly Sins</h3>
        </div>
      </div>
      <div class="slide slide-3">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">Dragonball Z</h3>
        </div>
      </div>
      <div class="slide slide-4">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">Conan</h3>
        </div>
      </div>
      <div class="slide slide-5">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">Naruto Kid</h3>
        </div>
      </div>
      <div class="slide slide-6">
        <div class="caption">
          <h3 style="font-family: 'Comfortaa', cursive;">Naruto Shippuden</h3>
        </div>
      </div>
      <div class="arrow r" onclick="next()">
        <img
          src="https://www.img.in.th/images/6d7512cbf8a668bd6e7f981654802763.png"
          alt="r"
        />
      </div>
    </div>

    <script>
      let slide = document.querySelectorAll(".slide");
      var current = 0;

      function cls() {
        for (let i = 0; i < slide.length; i++) {
          slide[i].style.display = "none";
        }
      }

      function next() {
        cls();
        if (current === slide.length - 1) current = -1;
        current++;

        slide[current].style.display = "block";
        slide[current].style.opacity = 0.4;

        var x = 0.4;
        var intX = setInterval(function () {
          x += 0.1;
          slide[current].style.opacity = x;
          if (x >= 1) {
            clearInterval(intX);
            x = 0.4;
          }
        }, 100);
      }

      function prev() {
        cls();
        if (current === 0) current = slide.length;
        current--;

        slide[current].style.display = "block";
        slide[current].style.opacity = 0.4;

        var x = 0.4;
        var intX = setInterval(function () {
          x += 0.1;
          slide[current].style.opacity = x;
          if (x >= 1) {
            clearInterval(intX);
            x = 0.4;
          }
        }, 100);
      }

      function start() {
        cls();
        slide[current].style.display = "block";
      }
      start();

      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>
  </body>
</html>

{% endblock content %}
