{% extends "blog/base.html" %}
{% block content %}
    <br></br>
    <div>Sub Type: {{ sub_type }}</div>
    <div>Status: {{ status }}</div>
    <div>Popularity: {{ popularity }}</div>
    <div>Synopsis: {{ synopsis }}</div>
    <div>Number of episodes: {{ episode }}</div>
    <div>Age Rating: {{ age_rating }}</div>
    <div>Popularity: {{ popularity }}</div>
    <div>Rating: {{ rating }}</div>
    <div class="card-body">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Ok</button>
        </form>
    </div>
    
{% endblock %}
